header{
    text-align: center;
}
header h1 {
    background-color: aqua;
    border-style:10px solid;
    box-shadow: 0,0.4,0,rgb(red, green, blue);
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 50%; 
}
section{
    display: flex;
    flex-direction: column;
}

